<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>hola probando</h1>
    <form action="/">
        {{form}}
        <button type="submit">enviar</button>
    </form>


    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.elespanol.com%2Fcuriosidades%2Fnaturaleza-planeta-tierra%2Fpor-que-el-cielo-es-azul-respuesta-razon-atmosfera-nubes-planeta-tierra%2F494701604_0.amp.html&psig=AOvVaw07m5axJQxkeesqgqiIROYK&ust=1675546739222000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCOia1pOo-vwCFQAAAAAdAAAAABAE">enlace</a>


</body>

</html>